<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0"
        />
        <title>Login page</title>
    </head>
    <body>
        <% if(locals.loginError) { %>
            <p>
                <%= loginError %>
            </p>
        <% } %>
        <h1>
            Login page
        </h1>
        <%- include("../partials/register-login-form.ejs", {formAction: "/login", buttonText: "Log in!"}) %>
    </body>
</html>
